/* TodoList.css */

body {
  background-color: #3C5B6F; /* Light Grey */
}

.todo-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #DFD0B8; /* White */
  position: relative; /* Added for positioning delete confirmation */
}

.dark-mode {
  background-color: #333; /* Dark Background Color */
  color: #fff; /* White Text Color */
}

h1 {
  text-align: center;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.todo-input {
  flex: 1;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
}

.add-button {
  background-color: #1679AB; /* Blue */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-button:hover {
  background-color: #074173; /* Darker Blue on Hover */
}

.todo-list {
  list-style-type: none;
  padding: 0;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #A8A196; /* Light Grey */
}

.todo-item.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.delete-button {
  background-color: #d32f2f; /* Red */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-button:hover {
  background-color: #E72929; /* Darker Red on Hover */
}

.note-count-container {
  text-align: center; /* Center the content horizontally */
}

.note-count {
  display: inline-block; /* Maintain original position */
  padding: 8px 16px; /* Adjust padding as needed */
  /* margin-top: 20px; */
  margin-bottom: 10px;
  font-size: 18px;
  background-color: #666; /* Set desired background color */
  color: #fff; /* Set text color */
  border-radius: 20px; /* Round corners */
  cursor: pointer; /* Change cursor on hover */
  transition: background-color 0.3s ease; /* Smooth transition on hover */
}


.delete-confirmation {
  background-color: #A2B5BB; /* White */
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%; /* Ensure the confirmation fits well on smaller screens */
  width: 342px; /* Adjust width as needed */ 
  text-align: center; /* Center text */
}

.delete-confirmation p {
  margin: 0;
  font-size: 16px;
  color: #333; /* Dark Grey */
  margin-bottom: 20px; /* Add some space between paragraphs */
}

.confirm-delete,
.cancel-delete {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100px; /* Adjust button width as needed */
  display: inline-block; /* Make buttons display inline */
  margin-right: 5px;
}

.confirm-delete:hover,
.cancel-delete:hover {
  background-color: #007bff; /* Blue */
  color: white;
}

.mode-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .mode-toggle {
    top: 20px;
    right: 20px;
  }

  .delete-confirmation {
    /* width: 342px; */
    width: 90%; /* Adjust width for smaller screens */
    padding: 10px; /* Reduce padding for smaller screens */
  }

  .confirm-delete,
  .cancel-delete {
    width: calc(50% - 5px); /* Adjust button width for smaller screens and create space between buttons */
    margin-right: 5px; /* Create space between buttons */
    margin-bottom: 10px; /* Add bottom margin */
  }
}
